<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aeliseev.androwatch"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application android:icon="@drawable/app_icon" android:label="@string/app_name">

        <activity android:name="com.aeliseev.androwatch.SetAlarmsActivity"></activity>

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name="com.aeliseev.androwatch.AndrowatchWidgetProvider" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_androwatch" />
        </receiver>

        <service android:name="com.aeliseev.androwatch.AlarmService" />
        <service android:name="com.aeliseev.androwatch.PrefsService" />
        <service android:name="com.aeliseev.androwatch.UpdateWidgetService" />

    </application>

</manifest>
